.screen-main
    //border: orange 2px solid
    height: calc( 100vh - $footer-height - $header-height)

    display: grid
    grid-template-rows: 25% min-content min-content min-content min-content
    grid-auto-rows: min-content

    align-items: center

    h1
        width: 100%
        text-align: center

    .section-list
        min-height: 150px
        padding: 0 60px
