.modal-overlay
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.5)
  z-index: 1000

.modal
  background: $grayLight
  overflow: hidden

  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border-radius: 12px
  padding-bottom: 12px

  width: 90vw
  max-width: calc( $tabletBreakpoint - 48px )
  max-height: 90vh

  z-index: 1000

  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(7,min-content)
  grid-template-areas: "header" "map" "location" "status" "eta" "sender" "notes"

  .modal-header
    grid-area: header
    height: 60px

    background: $orangeDark
    color: $white

    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px 12px

  .modal-map
    grid-area: map
    height: 250px
    width: 100%
    object-fit: cover

    overflow: hidden

  .location
    grid-area: location
    @include grid-modal-item

  .status
    grid-area: status
    @include grid-modal-item
  .eta
    grid-area: eta
    @include grid-modal-item
  .sender
    grid-area: sender
    @include grid-modal-item
  .notes
    grid-area: notes
    @include grid-modal-notes

  .btn-close
    height: 25px
    width: 25px
    border-radius: 25px

    img
      height: 25px

    &:hover
      transition: ease 0.1s
      background-color: #0000001c
