button
  background: none
  border: none
  cursor: pointer

.btn
  height: $mob-button-height
  display: flex
  justify-content: center
  align-items: center
  padding: 0 12px

.btn-main
  background: $red
  border: 1px solid $red
  border-radius: 8px

  h4
    color: $grayBg

  .icon-btn
    width: 20px
    height: 20px
    margin: 6px
    filter: invert(1)

  &:hover
    transition: ease 0.3s
    background-color: $redDark
    border-color: $redDark

.btn-ghost
  background: none
  border: 1px solid $red
  color: white
  border-radius: 8px
  cursor: pointer

  h4
    color: $red
    text-transform: capitalize

  &:hover

    transition: ease 0.3s
    background-color: transparent
    border-color: $redDark

    h4
      color: $redDark

    svg path
      fill: $redDark

.btn-sort
  h4
    color: $red
    border-bottom: 1px transparent solid

  &:hover,&-active
    background: none
    h4
      color: $red
      border-bottom: 1px $red solid
      font-weight: 200

.btn-140
  width: 140px

.btn-300
  width: 300px

.btn-select
  cursor: pointer
  height: 100%
  padding: 0
  color: inherit
  border: none
  padding-right: 20px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background: url(https://clecardona.com/npa/icns/chevron-down-white.svg) no-repeat right

  text-align: center
  font-size: 25px

.pill
  height: 25px
  cursor: default

  &:hover
    color: $red
    border-color: $red

  h3
    font-size: 14px
    margin-left: 3px
    // padding: 0 12px;
    &:hover
      color: $red

input[type="text"],
input[type="email"]
  background-color: $grayLight

input[type="submit"]
  color: $white
  &:disabled
    background: $grayDark
    border-color: $grayDark
    color: $grayLight
    text-decoration: line-through

.checkbox
  cursor: pointer

  label
    //height: 20px
    //width: 20px
    //border: 2px white solid
    //border-radius: 20px
    //background: blue

  input:checked
    background: red

.btn-float
  background: white
  position: fixed
  width: 150px
  bottom: 100px
  opacity: 0.3
  border-radius: 0 8px 8px 0
  &:hover
    opacity: 1
